{% load static %}
{% if DEBUG %}
  {% load render_bundle from webpack_loader %}
{% endif %}

<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LotTracker</title>
  </head>
  <body>
    <noscript>
        Il tuo browser non supporta JavaScript o ha JavaScript disabilitato. 
        Per visualizzare correttamente questa pagina, assicurati di abilitare JavaScript nel tuo browser.
    </noscript>
    <div id="app"></div>

    {% if DEBUG %}
      {% render_bundle 'frontend' %}
    {% else %}
      <script src="{% static 'react/react-frontend.js' %}" type="application/javascript"></script>
    {% endif %}
  </body>
</html>
