{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LotTracker - Login</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body class="bg-sky-50">
    <div class="flex justify-center items-center h-screen relative">
      <div class="bg-white p-6 rounded-lg relative max-w-[40rem] w-full md:w-8/12 lg:w-6/12">
        <div class="text-center">
          <h2 class="text-2xl font-semibold">Log In</h2>
        </div>

        <br />

        <form method="post">
          {% csrf_token %}
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
          <input
            type="text"
            name="{{ form.username.name }}"
            id="{{ form.username.id_for_lable }}"
            value="{{ form.username.value|default:'' }}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5"
            placeholder="Username"
            required
          />
          <br />
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
          <input
            type="text"
            name="{{ form.password.name }}"
            id="{{ form.password.id_for_lable }}"
            value="{{ form.password.value|default:'' }}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5"
            placeholder="Password"
            required
          />

          <br />
          <div class="text-center">
            <button
              type="submit"
              class="text-white bg-emerald-600 hover:bg-emerald-700 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
            >
              LOGIN
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
